{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site_name}} || Welcome To Modern Banking</title>
    <!-- Favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}" />
    <link rel="manifest" href="images/favicons/site.webmanifest" />
    <meta name="description" content="Finbank HTML 5 Template " />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'vendors/animate/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/animate/custom-animate.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/bxslider/jquery.bxslider.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/odometer/odometer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/vegas/vegas.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/thm-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/language-switcher/polyglot-language-switcher.css' %}">
    <!-- Module css -->
    <link rel="stylesheet" href="{% static 'css/module-css/01-header-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/module-css/02-banner-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/module-css/03-about-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/module-css/04-fact-counter-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/module-css/05-testimonial-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/module-css/06-partner-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/module-css/07-footer-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/module-css/08-blog-section.css' %}">

    <!-- Template styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/color-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

</head>


<body>

    <!-- Start preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="a" class="letters-loading">
                            a
                        </span>
                        <span data-text-preloader="u" class="letters-loading">
                            u
                        </span>
                        <span data-text-preloader="s" class="letters-loading">
                            s
                        </span>
                        <span data-text-preloader="w" class="letters-loading">
                            w
                        </span>
                        <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                        <span data-text-preloader="d" class="letters-loading">
                             d
                        </span>
                        <span data-text-preloader="e" class="letters-loading">
                            e
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End preloader -->


    <div class="page-wrapper">

        <header class="main-header main-header-style2">

            <!--Start Main Header Style2 Top-->
            <div class="main-header-style2__top">
                <div class="auto-container">
                    <div class="outer-box">
                        <!--Start Main Header Style2 Top Left-->
                        <div class="main-header-style2__top-left">
                            <div class="notification-box">
                                <div class="icon">
                                    <span class="icon-notification"></span>
                                </div>
                                <p>
                                    Get upto 4%* on our Savings Account Balances with {{site_name}}.
                                    <a href="#" hidden><span class="icon-right-arrow"></span></a>
                                </p>
                            </div>
                        </div>
                        <!--End Main Header Style2 Top Left-->

                        <!--Start Main Header Style2 Top Right-->
                        <div class="main-header-style2__top-right">
                            <div class="header-menu-style1">
                                <ul>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Faq’s</a></li>
                                    <li><a href="#">Offers</a></li>

                                </ul>
                            </div>
                            <div class="box-search-style1">
                                <a href="#" class="search-toggler">
                                    <span class="icon-search"></span>
                                    Search
                                </a>
                            </div>
                            <div class="language-switcher">
                                <div id="polyglotLanguageSwitcher">
                                    <form action="#">
                                        <select id="polyglot-language-options">
                                            <option id="en" value="en" selected>English</option>
                                            <option id="fr" value="fr">French</option>
                                            <option id="de" value="de">German</option>
                                            <option id="it" value="it">Italian</option>
                                            <option id="es" value="es">Spanish</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End Main Header Style2 Top Right-->

                    </div>
                </div>
            </div>
            <!--End Main Header Style2 Top-->

            <nav class="main-menu main-menu-style2">
                <div class="main-menu__wrapper clearfix">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">

                            <div class="main-menu-style2-left">
                                <div class="logo-box-style2">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'img/logo.png' %}" alt="Awesome Logo" title="">
                                    </a>
                                </div>

                                <div class="looking-banking-box looking-banking-box--style2">
                                    <div class="icon">
                                        <span class="icon-binoculars"></span>
                                    </div>
                                    <div class="select-box clearfix">
                                        <p>Looking</p>
                                        <select class="wide">
                                            <option data-display="Personal Banking">
                                                Personal Banking
                                            </option>
                                            <option value="1">Business Banking</option>
                                            <option value="2">Personal Banking 01</option>
                                            <option value="3">Personal Banking 02</option>
                                            <option value="4">Personal Banking 03</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="main-menu-style2-right">

                                <div class="main-menu-box">
                                    <a href="#" class="mobile-nav__toggler">
                                        <i class="icon-menu"></i>
                                    </a>

                                    <ul class="main-menu__list">
                                        <li>
                                            <a href="{% url 'index' %}">Home</a>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#">Services</a>
                                            <ul>
                                                <li class="dropdown">
                                                    <a href="#">Accounts</a>
                                                    <ul>
                                                        <li><a href="#0">All Accounts</a></li>
                                                        <li><a href="#0">Savings Account</a></li>
                                                        <li><a href="#0">Current Account</a></li>
                                                        <li><a href="#0">Fixed Deposit Account</a>
                                                        </li>
                                                        <li><a href="#0">Salary Account</a></li>
                                                        <li><a href="#0">Recuring Deposit a/c</a>
                                                        </li>
                                                        <li><a href="#0">NRI Account</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Cards</a>
                                                    <ul>
                                                        <li><a href="#0">Our All Cards</a></li>
                                                        <li><a href="#0">Business</a></li>
                                                        <li><a href="#0">Cashback</a></li>
                                                        <li><a href="#0">Low Interest</a></li>
                                                        <li><a href="#0">Rewards</a></li>
                                                        <li><a href="#0">Secured</a></li>
                                                        <li><a href="#0">Travel & Hotel</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Loans</a>
                                                    <ul>
                                                        <li><a href="#0">Home Loan</a></li>
                                                        <li><a href="#0">Personal Loan</a></li>
                                                        <li><a href="#0">Vehicle Loan</a></li>
                                                        <li><a href="#0">Education Loan</a></li>
                                                        <li><a href="#0">Gold Loan</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#">About</a>
                                            <ul>
                                                <li><a href="#0">About Us</a></li>

                                               
                                                <li><a href="#0">Faq’s</a></li>
                                                <li><a href="#0">Testimonials</a></li>
                                               
                                            </ul>
                                        </li>
                                      
                                        <li class="dropdown">
                                            <a href="#">Apply Now</a>
                                            <ul>
                                                <li><a href="#0">Home Loan</a></li>
                                                <li><a href="#0">Personal Loan</a></li>
                                                <li><a href="#0">Vehicle Loan</a></li>
                                                <li><a href="#0">Education Loan</a></li>
                                                <li><a href="#0">Gold Loan</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#0">News</a>
                                        </li>
                                        <li>
                                            <a href="#0">Get In Touch</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="header-btn-one">
                                    <a href="#">Make Payment</a>
                                </div>

                                <div class="header-logon-box">
                                    
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'dashboard' %}" style="color: #000000;font-weight: 600;">
                                        Dashboard
                                    </a>

                                    {% else %}



                                    <a href="{% url 'login' %}" style="color: #000000;font-weight: 600;">
                                        Login
                                    </a>



                                    {% endif %}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </nav>

        </header>


        <div class="stricky-header stricky-header--style2 stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        {% block content %} {% endblock %}



        <!--Start footer area -->
        <footer class="footer-area footer-area--style2">

            <!--Start Footer Top-->
            <div class="footer-top-style2">
                <div class="container">
                    <div class="row">

                        <div class="col-xl-7">
                            <div class="footer-top-style2__left-content">
                                <!--Start Our Company Info-->
                                <div class="our-company-info">
                                    <div class="footer-logo-style1">
                                        <a href="#0">
                                            <img src="{% static 'images/footer/footer-logo-2.png' %}" alt="Awesome Logo"
                                                title="">
                                        </a>
                                    </div>
                                    <div class="bottom-text2">
                                        <p>At {{site_name}}, we are committed to providing secure, innovative financial solutions tailored to your needs. Trust us to support your financial journey with excellence and transparency.</p>
                                        <div class="btn-box">
                                            <a href="{% url 'about' %}"><span class="icon-right-arrow"></span> More About Us</a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Our Company Info-->
                                <!--Start Footer Top Style2 Left Content Inner-->
                                <div class="footer-top-style2__left-content-inner">
                                    <ul class="row">
                                        <li class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single-footer-widget single-footer-widget--link-box">
                                                <div class="footer-widget-links">
                                                    <ul>
                                                        <li><a href="#">Home Loan</a></li>
                                                        <li><a href="#">Car Loan</a></li>
                                                        <li><a href="#">Two Wheeler Loan</a></li>
                                                        <li><a href="#">Personal Loan</a></li>
                                                        <li><a href="#">Tractor Loan</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single-footer-widget single-footer-widget--link-box">
                                                <div class="footer-widget-links">
                                                    <ul>
                                                        <li><a href="#">Cards</a></li>
                                                        <li><a href="#">Deposits</a></li>
                                                        <li><a href="#">Payments</a></li>
                                                        <li><a href="#">Insurance</a></li>
                                                        <li><a href="#">Locker Facility</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single-footer-widget single-footer-widget--link-box">
                                                <div class="footer-widget-links">
                                                    <ul>
                                                        <li><a href="#">Career</a></li>
                                                        <li><a href="#">News Room</a></li>
                                                        <li><a href="#">Interest Rates</a></li>
                                                        <li><a href="#">Gold Rate Today</a></li>
                                                        <li><a href="#">Charges & Fees</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <!--End Footer Top Style2 Left Content Inner-->
                            </div>
                        </div>

                        <div class="col-xl-5">
                            <div class="footer-top-style2__right-content">
                                <div class="footer-contact-info-style">
                                    <ul>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-map"></span>
                                            </div>
                                            <div class="text">
                                                <h3>Corporate Branch</h3>
                                                <p>{{site_address}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-phone-call"></span>
                                            </div>
                                            <div class="text">
                                                <h3>Help Desk</h3>
                                                <!--p>Call to: <a href="tel:123456789"></a></p-->
                                                <p>Send a Mail: <a
                                                        href="mailto:{{site_mail}}">{{site_mail}}</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="find-nearest-branch-box" hidden >
                                    <div class="top-outer">
                                        <div class="top">
                                            <div class="icon">
                                                <span class="icon-bank-1"></span>
                                            </div>
                                            <div class="inner-title" hidden >
                                                <h3>Over 86 Branch,<br> Find Your Nearest One</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-box1">
                                        <form class="zip-form" action="#">
                                            <input id="zip" name="zip" type="number" placeholder="Enter Zip Code...">
                                            <button type="submit">
                                                <i class="icon-right-arrow"></i>Find
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Footer Top-->

            <div class="footer-bottom-style2">
                <div class="container">
                    <div class="bottom-inner">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">&copy; 2024 {{site_name}}</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>

                            </ul>
                        </div>
                        <div class="scrool-top-btn-style2">
                            <a href="#" data-target="html" class="scroll-to-target scroll-to-top--style2">
                                <i class="icon-diagonal-arrow"></i>Back to Top
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!--End footer area-->


    </div>
    <!-- /.page-wrapper -->



    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler">
                <i class="fas fa-plus"></i>
            </span>
            <div class="logo-box">
                <a href="#0" aria-label="logo image">
                    <img src="{% static 'images/resources/mobile-nav-logo.png' %}" alt="" />
                </a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@example.com">{{site_mail}}</a>
                </li>
                <li hidden >
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:123456789">444 000 777 66</a>
                </li>
            </ul>
            <div class="mobile-nav__social" hidden >
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>


    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label>
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
    </div>





    <script src="{% static 'vendors/jquery/jquery-3.6.0.min.js' %}""></script>
    <script src=" {% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}""></script>
    <script src="{% static 'vendors/bxslider/jquery.bxslider.min.js' %}""></script>
    <script src=" {% static 'vendors/circleType/jquery.circleType.js' %}""></script>
    <script src="{% static 'vendors/circleType/jquery.lettering.min.js' %}""></script>
    <script src=" {% static 'vendors/isotope/isotope.js' %}""></script>
    <script src="{% static 'vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}""></script>
    <script src=" {% static 'vendors/jquery-appear/jquery.appear.min.js' %}""></script>
    <script src="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.min.js' %}""></script>
    <script src=" {% static 'vendors/jquery-migrate/jquery-migrate.min.js' %}""></script>
    <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}""></script>
    <script src=" {% static 'vendors/jquery-validate/jquery.validate.min.js' %}""></script>
    <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}""></script>
    <script src=" {% static 'vendors/odometer/odometer.min.js' %}""></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}""></script>
    <script src=" {% static 'vendors/swiper/swiper.min.js' %}""></script>
    <script src="{% static 'vendors/vegas/vegas.min.js' %}""></script>
    <script src=" {% static 'vendors/wnumb/wNumb.min.js' %}""></script>
    <script src="{% static 'vendors/wow/wow.js' %}""></script>
    <script src=" {% static 'vendors/extra-scripts/jquery.paroller.min.js' %}""></script>
    <script src="{% static 'vendors/language-switcher/jquery.polyglot.language.switcher.js' %}""></script>

    <!-- Template js -->
    <script src=" {% static 'js/custom.js' %}""></script>


</body>

</html>