{% extends 'base.html'%}
{% load static %}



{% block content %}

<!--Start Accounts Style1 Area-->
<section class="account-style1-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Let’s Think of saving Money</h2>
            <div class="sub-title">
                <p>Convenient banking options for you.</p>
            </div>
        </div>
        <div class="row">
            <!--Start Single Account Box Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-account-box-style1">
                    <div class="img-holder">
                        <img src="{% static 'img/saving.jpg' %}" alt="">
                    </div>
                    <div class="text-holder">
                        <h3><a href="#">Savings Account</a></h3>
                        <p>Open account now and earn upto 8%</p>
                    </div>
                </div>
            </div>
            <!--End Single Account Box Style1-->
            <!--Start Single Account Box Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-account-box-style1">
                    <div class="img-holder">
                        <img src="{% static 'img/credit-card.jpg' %}" alt="">
                    </div>
                    <div class="text-holder">
                        <h3><a href="#">Current Account</a></h3>
                        <p>Open account now and earn upto 5%</p>
                    </div>
                </div>
            </div>
            <!--End Single Account Box Style1-->
            <!--Start Single Account Box Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-account-box-style1">
                    <div class="img-holder">
                        <img src="{% static 'img/sme.jpg' %}" alt="">
                    </div>
                    <div class="text-holder">
                        <h3><a href="#">Fixed Deposit Account</a></h3>
                        <p>Open account now and earn upto 10%</p>
                    </div>
                </div>
            </div>
            <!--End Single Account Box Style1-->
        </div>



    </div>
</section>
<!--End Accounts Style1 Area-->


<!--Start Banking Tab Area-->
<section class="banking-tab-area">
    <div class="auto-container">
        <div class="banking-tab">

            <!--Start Tabs Content Box-->
            <div class="tabs-content-box">

                <!--Tab-->
                <div class="tab-content-box-item tab-content-box-item-active" id="trading">
                    <div class="banking-tab-content-item">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="banking-tab-img-box">
                                    <div class="banking-tab-img-box__bg"
                                        style="background-image: url('{% static 'img/corporate.jpg' %}');">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="banking-tab-text-box">
                                    <div class="inner-title">
                                        <h3>Trading & Demat a/c</h3>
                                        <h2>Step to Make<br> Your Dreams Possible</h2>
                                    </div>
                                    <div class="banking-tab-text-box__inner">
                                        <div class="text">
                                            <p>At {{site_name}}, we empower your dreams with tailored financial
                                                solutions, expert support, and secure digital banking for success.</p>
                                        </div>
                                        <ul>
                                            <li>Personalized Financial Planning</li>
                                            <li>Secure Digital Banking</li>
                                            <li>Investment Opportunities</li>
                                            <li>Dedicated Customer Support </li>
                                            <li>Flexible Loan Solutions </li>
                                            <li>Commitment to Innovation </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="tax">
                    <div class="banking-tab-content-item">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="banking-tab-img-box">
                                    <div class="banking-tab-img-box__bg"
                                        style="background-image: url('{% static 'img/cyber_secured.jpeg' %}');">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="banking-tab-text-box">
                                    <div class="inner-title">
                                        <h3>Tax Savings a/c</h3>
                                        <h2>Step to Make<br> Your Dreams Possible</h2>
                                    </div>
                                    <div class="banking-tab-text-box__inner">
                                        <div class="text">
                                            <p>The claims off duty or the obligations business it will
                                                frequently
                                                pleasures repudiated to distinguish nothing.</p>
                                        </div>
                                        <ul>
                                            <li>Explorer of the master-builder</li>
                                            <li>On the other hand</li>
                                            <li>Perfectly simple & easy</li>
                                            <li>Explorer of the master-builder</li>
                                            <li>On the other hand</li>
                                            <li>Perfectly simple & easy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="gold">
                    <div class="banking-tab-content-item">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="banking-tab-img-box">
                                    <div class="banking-tab-img-box__bg"
                                        style="background-image: url(assets/images/resources/banking-tab-3.jpg);">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="banking-tab-text-box">
                                    <div class="inner-title">
                                        <h3>Gold Savings a/c</h3>
                                        <h2>Step to Make<br> Your Dreams Possible</h2>
                                    </div>
                                    <div class="banking-tab-text-box__inner">
                                        <div class="text">
                                            <p>The claims off duty or the obligations business it will
                                                frequently
                                                pleasures repudiated to distinguish nothing.</p>
                                        </div>
                                        <ul>
                                            <li>Explorer of the master-builder</li>
                                            <li>On the other hand</li>
                                            <li>Perfectly simple & easy</li>
                                            <li>Explorer of the master-builder</li>
                                            <li>On the other hand</li>
                                            <li>Perfectly simple & easy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--End Tabs Content Box-->

            <!--Start Banking Tab Button-->
            <div class="banking-tab__button">
                <ul class="tabs-button-box clearfix">

                    <li data-tab="#trading" class="tab-btn-item active-btn-item">
                        <div class="inner">
                            <div class="icon">
                                <span class="icon-trading"></span>
                            </div>
                            <div class="title">
                                <h4>{{site_name}}</h4>
                                <h3>Trading & Demat a/c</h3>
                            </div>
                        </div>
                    </li>

                    <li data-tab="#tax" class="tab-btn-item">
                        <div class="inner">
                            <div class="icon">
                                <span class="icon-fee"></span>
                            </div>
                            <div class="title">
                                <h4>{{site_name}}</h4>
                                <h3>Tax Savings a/c</h3>
                            </div>
                        </div>
                    </li>

                    <li data-tab="#gold" class="tab-btn-item">
                        <div class="inner">
                            <div class="icon">
                                <span class="icon-gold-ingots"></span>
                            </div>
                            <div class="title">
                                <h4>{{site_name}}</h4>
                                <h3>Gold Savings a/c</h3>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <!--End Banking Tab Button-->

        </div>
    </div>
</section>
<!--End Banking Tab Area-->


<!--Start Account Steps Style2 Area-->
<section class="account-steps-style2-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Create An Account in Easy Steps</h2>
            <div class="sub-title">
                <p>We show our value by serving faithfully.</p>
            </div>
        </div>
        <div class="row">

            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2">
                    <div class="inner">
                        <div class="step-box">
                            <h4>Step 01</h4>
                        </div>
                        <div class="icon-holder">
                            <span class="icon-consultation"></span>
                        </div>
                        <h3><a href="#">Consult With Our <br> Experts</a></h3>
                        <div class="text">
                            <p>Consult with our experts for personalized financial guidance tailored to your unique needs and goals.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->

            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2 bg2">
                    <div class="inner">
                        <div class="step-box">
                            <h4>Step 02</h4>
                        </div>
                        <div class="icon-holder">
                            <span class="icon-file"></span>
                        </div>
                        <h3><a href="#">Submit Required <br> Documents</a></h3>
                        <div class="text">
                            <p>Submit the necessary documents quickly and securely to verify your identity and complete your account setup.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->

            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2 bg3">
                    <div class="inner">
                        <div class="step-box">
                            <h4>Step 03</h4>
                        </div>
                        <div class="icon-holder">
                            <span class="icon-file-1"></span>
                        </div>
                        <h3><a href="#">KYC <br> Verification</a></h3>
                        <div class="text">
                            <p>Complete the KYC verification process to ensure your account’s security and compliance with banking regulations.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->

            <!--Start Single Account Box style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-account-steps-box-style2 bg4">
                    <div class="inner">
                        <div class="step-box">
                            <h4>Step 04</h4>
                        </div>
                        <div class="icon-holder">
                            <span class="icon-investment"></span>
                        </div>
                        <h3><a href="#">Start Savings for <br> Your Future</a></h3>
                        <div class="text">
                            <p>Begin saving for your future today with our secure and flexible savings account options tailored to you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Account Box style2-->

        </div>
    </div>
</section>
<!--End Account Steps Style2 Area-->

{% endblock %}