{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="making digital currency investments easier and safer">
    <!-- Fav Icon  -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <!-- Site Title  -->
    <title>{{site_name}} | account center</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/vendor.bundle.css' %}?ver=101">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}?ver=101">
    <link rel="stylesheet" href="{% static 'dashboard/css/extra.css' %}">
     
    <style>
        @media  (min-width: 575px){
            #success-modal {
                margin-left: 25vw;

            }
        }

        @media  (max-width: 575px){
            #success-modal {
                margin-left: 18vw;
            }
        }
    </style>
</head>

<body class="user-dashboard">


    <div class="topbar">
        <div class="topbar-md d-lg-none">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <a href="#" class="toggle-nav">
                        <div class="toggle-icon">
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                        </div>
                    </a><!-- .toggle-nav -->

                    <div class="site-logo">
                        <a href="{% url 'index' %}" class="site-brand py-2">
                            <img style="height:80px;width:auto" src="{% static  'img/logo.png' %}"
                                alt="logo" srcset="{% static 'img/logo.png' %} 2x">
                        </a>
                    </div><!-- .site-logo -->

                    <div class="dropdown topbar-action-item topbar-action-user">
                        {% if user.get_picture %}
                        <a href="#" data-toggle="dropdown"> <img class="icon" src="{{user.get_picture}}" alt="thumb">
                        </a>
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="user-dropdown">
                                <div class="user-dropdown-head">
                                    <h6 class="user-dropdown-name">{{user.name}} <span>({{user.unique_id}})</span></h6>
                                    <span class="user-dropdown-email">{{user.email}}</span>
                                </div>


                                <ul class="user-dropdown-links">
                                    <li><a href="{% url 'logout' %}"><i class="ti ti-power-off"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .toggle-action -->
                </div><!-- .container -->
            </div><!-- .container -->
        </div><!-- .topbar-md -->
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="topbar-lg d-none d-lg-block">
                    <div class="site-logo">
                        <a href="{% url 'index' %}" class="site-brand py-2">
                            <img style="height:80px;width:auto" src="{% static 'img/logo.png' %}" alt="logo"
                                srcset="{% static 'img/logo.png' %} 2x">
                        </a>
                    </div><!-- .site-logo -->
                </div><!-- .topbar-lg -->

                <div class="topbar-action d-none d-lg-block">
                    <ul class="topbar-action-list">


                        <!--li class="dropdown topbar-action-item topbar-action-language">
                            <a href="#" data-toggle="dropdown"> EN <em class="ti ti-angle-down"></em> </a>
                            <!--ul class="dropdown-menu">
                                <li><a href="#">FR</a></li>
                                <li><a href="#">JY</a></li>
                                <li><a href="#">CH</a></li>
                            </ul->
                        </li><!-- .topbar-action-item -->

                        <li class="dropdown topbar-action-item topbar-action-user">
                            {% if user.get_picture %}
                            <a href="#" data-toggle="dropdown"> <img class="icon" src="{{user.get_picture}}"
                                    alt="thumb"> </a>
                            {% endif %}
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="user-dropdown">
                                    <div class="user-dropdown-head">
                                        <h6 class="user-dropdown-name">{{user.name}} <span>(user.unique_id)</span></h6>
                                        <span class="user-dropdown-email">{{user.email}}</span>
                                    </div>

                                    <ul class="user-dropdown-links">
                                        <li><a href="{% url 'logout' %}"><i class="ti ti-power-off"></i>Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li><!-- .topbar-action-item -->
                    </ul><!-- .topbar-action-list -->
                </div><!-- .topbar-action -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- TopBar End -->


    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">
                <div class="user-sidebar">
                    <div class="user-sidebar-overlay"></div>
                    <div class="user-box ">
                        <div class="user-image">
                           
                            {% if user.dp %}
                            <img style="border-radius: 50%;height: 80px;width:80px;" src="{{user.dp}}" alt="thumb">
                            {% endif %}
                        </div>
                        <h6 class="user-name">{{user.name}}</h6>
                        <div style="font-size: 18px;" class="user-uid">Account NO. : <span>{{user.account_number}}</span></div>
                        <ul class="btn-grp guttar-10px">
                            {% if not user.email_verified %}
                            <!--li><a href="#" class="btn btn-xs btn-warning">Verify Email</a></li-->
                            {% endif %}
                            <!--li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li-->
                        </ul>
                    </div><!-- .user-box -->

                    <div style="margin-top:-50px"></div>
                    <ul class="user-icon-nav">
                        <li><a href="{% url 'dashboard' %}"><em class="ti ti-dashboard"></em>Dashboard</a></li>


                        <li><a href="{% url 'transaction-history' %}"><em
                                    class="ti ti-control-shuffle"></em>Transactions</a></li>
                        <li><a href="{% url 'profile' %}"><em class="ti ti-user"></em>Account</a></li>
                        <li><a href="{% url 'settings' %}"><em class="ti ti-pie-chart"></em>Settings</a></li>

                    </ul><!-- .user-icon-nav -->
                    <div class="user-sidebar-sap"></div><!-- .user-sidebar-sap -->
                    <ul class="user-nav">

                      
                        <li>Contact Support<span>{{support_email}}</span></li>
                        <li class="mt-2"><a href="{% url 'logout' %}">Logout</a></li>
                    </ul><!-- .user-nav -->
                    <div class="d-lg-none">
                        <div class="user-sidebar-sap"></div>
                        <div class="gaps-1x"></div>
                        <!--ul class="topbar-action-list">
                         
                            <li class="dropup topbar-action-item topbar-action-language">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true"> EN <em class="ti ti-angle-up"></em> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">FR</a></li>
                                    <li><a href="#">JY</a></li>
                                    <li><a href="#">CH</a></li>
                                </ul>
                            </li><!-- .topbar-action-item ->
                        </ul><!-- .topbar-action-list -->
                    </div>
                </div><!-- .user-sidebar -->

                {% block content %} {% endblock %}
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible show fade"
        style="background-color:{{main_theme}};margin:20px;z-index:2000;width:90%;top:50px;position:absolute">
        <div class="alert-body">
            <button class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            {{message}}
        </div>
    </div>
    {% endfor %}
    {% endif %}

  
    <!-- modal -->
    <!-- Modal @s -->
    <div class="modal fade" id="load-modal" style="align-items: center;text-align: center;padding-left: 28%;">
        <div class="modal-dialog modal-sm" style="padding: 10px;">
            <div class="modal-content" style="width: fit-content;">
               
                <div class="modal-body p-md-4 p-lg-5" >
                   
                    <img src="{% static 'img/loader2.webp' %}">
                </div>
            </div>
        </div> 
    </div><!-- .modal @e -->

      <!-- Modal @s -->
      <div class="modal fade" id="error-modal" >
        <div class="modal-dialog modal-xl">
            
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" class="text-danger">Error !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body p-md-4 p-lg-5"  id="error-modal-content">
                    Please Correct Form Errors !
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->

      <!-- Modal @s -->
      <div class="modal fade p-0" id="success-modal" style="width: fit-content;height: auto;">
        <div class="modal-dialog modal-sm p-0" style="text-align: center;">
        <center>
            <div class="modal-content p-0">
              
                <div class="modal-body p-md-0 p-lg-0 align-items-center"  id="success-modal-content">
                    <center>
                        <img class="mb-0"  src="{% static 'img/success.gif' %}" style="height: auto;width: 300px;">
                        <p class="pt-0" id="success-modal-content-text">Completed Successfully </p>
                        <a href="{% url 'dashboard' %}">
                        <button type="button" class="btn btn-primary mt-2 mb-2">Check  Dashboard</button>
                        </a>
                    </center>
                  
                </div>
              
            </div>
        </center>
        </div>
    </div><!-- .modal @e -->

     <!-- Modal @s -->
     <div class="modal fade" id="pop-modal" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <a href="#" hidden class="modal-close" data-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="modal-body p-md-4 p-lg-5" id="modal-message">
                </div>
            </div>
        </div>
    </div><!-- .modal @e -->


    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <span class="footer-copyright">Copyright 2012 - 2022, <a href="#">{{site_name}} ltd.</a>. All Rights
                        Reserved.</span>
                </div><!-- .col -->
                <!--div class="col-md-5 text-md-right">
                    <ul class="footer-links">
                        <li><a href="policy.html">Privacy Policy</a></li>
                        <li><a href="policy.html">Terms of Sales</a></li>
                    </ul>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
    <!-- FooterBar End -->


    <!-- JavaScript (include all script here) -->
    <script src="{% static 'dashboard/js/jquery.bundle.js' %}" ?ver=101"></script>
    <script src="{% static 'dashboard/js/script.js' %}" ?ver=101"></script>
    <script src="{% static 'dashboard/js/helper.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>

function centerModal() {
        $(this).css('display', 'block');
        var $dialog  = $(this).find(".modal-dialog"),
        y_offset       = ($(window).height() - $dialog.height()) / 2,
    
        bottomMargin = parseInt($dialog.css('marginBottom'), 10);

        // Make sure you don't hide the top part of the modal w/ a negative margin if it's longer than the screen height, and keep the margin equal to the bottom margin of the modal
        if(y_offset < bottomMargin) y_offset = bottomMargin;
        $dialog.css("margin-top", y_offset);
      
    }

    $(document).on('show.bs.modal', '.modal', centerModal);

        $(function(){
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
            var scrollmem = $('body').scrollTop() || $('html').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
        });
        });

        $(".close").click(function () {

            $(".alert").attr("hidden", "")
        }
        )
    </script>

    {% block js %}{% endblock %}
</body>

</html>