{% extends 'dashboard-base.html' %}
{% load static %}
{% load mytags %}
{% load humanize %}
{% block content %}
<div class="user-content">

    <!-- Wallet Card -->
    <div class="section wallet-card-section pt-1 mt-5">
        <div class="wallet-card">
            <h2>
                <span  style="color:rgba(0, 0, 0, 0.915)"> Hi, Welcome back! </span><br>
               {{user.name|upper}}</h2>
            <!-- Balance -->
            <div class="balance mb-0">
                <div class="left">

                    <span class="title">Account Balance</span>

                    <h2 class="total">{{user.wallet.currency.code}} {{user.wallet.available_balance|to_decimal|intcomma}}</h2>
                    
                </div>
            
                <div class="right">
                    <a href="{% url 'transfer' %}" class="button bg-warning" >
                        <ion-icon style="color:white" name="arrow-forward-outline"></ion-icon>
                       
                    </a>
                    <strong>Send Money</strong>
                </div>
            </div>
            <div class="balance mt-0">
                <div class="left">
                    
                    <span class="title">Ledger Balance</span>
                    <h1 class="total">{{user.wallet.currency.code}} {{user.wallet.ledger_balance|to_decimal|intcomma}}</h1>
                    
                </div>
            
            </div>
            <!-- * Balance -->
            <!-- Wallet Footer -->
            <div class="wallet-footer">
                <!--div class="item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#withdrawActionSheet">
                        <div class="icon-wrapper bg-danger">
                            <ion-icon name="arrow-down-outline"></ion-icon>
                        </div>
                        <strong>Withdraw</strong>
                    </a>
                </div->
                <div class="item">
                    <a href="{% url 'transfer' %}" data-bs-toggle="modal" data-bs-target="#sendActionSheet">
                        <div class="icon-wrapper">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                        <strong>Send Money</strong>
                    </a>
                </div>
                <!--div class="item">
                    <a href="#0">
                        <div class="icon-wrapper bg-success">
                            <ion-icon name="card-outline"></ion-icon>
                        </div>
                        <strong>Cards</strong>
                    </a>
                </div>
                <div class="item">
                    <a href="#0" data-bs-toggle="modal" data-bs-target="#exchangeActionSheet">
                        <div class="icon-wrapper bg-warning">
                            <ion-icon name="swap-vertical"></ion-icon>
                        </div>
                        <strong>Support Ticket</strong>
                    </a>
                </div-->

            </div>
            <!-- * Wallet Footer -->
        </div>
    </div>
    <!-- Wallet Card -->



    <!-- Stats -->
    <div class="section">
        <div class="row mt-2">
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Total Income</div>
                    <div class="value text-success" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.income|to_decimal|intcomma}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Total Expenses</div>
                    <div class="value text-danger" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.expense|to_decimal|intcomma}}</div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Total Charges Paid</div>
                    <div class="value" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.bills|to_decimal|intcomma}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Pending charges</div>
                    <div class="value" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.savings|to_decimal|intcomma}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Stats -->

    <!-- Transactions -->
    <div class="section mt-4 pt-3">
        <div class="section-heading">
            <h2 class="title">Recent Transactions</h2>
            <a href="{% url 'transaction-history' %}" class="link">View All</a>
        </div>
        

        {% if not recent_transactions %}
        <div class="status status-empty">
            <div class="status-icon">
                <em class="ti ti-files"></em>
                <div class="status-icon-sm">
                    <em class="ti ti-close"></em>
                </div>
            </div>
            <span class="status-text">You have no transactions yet</span>

        </div>
        {% else %}

        <ul class="listview image-listview">
     
            <ul class="listview image-listview">

                {% for tx in recent_transactions %}
                <li>
                    <div class="item">
                        {% if tx.transaction_type == "debit" %}
                        <div class="icon-box bg-danger" style="color:white">
                            <ion-icon name="arrow-up-outline"></ion-icon>
                        </div>
                        {% else %}
                        <div class="icon-box bg-success" style="color:white">
                            <ion-icon name="arrow-down-outline"></ion-icon>
                        </div>
                        {% endif %}

                        <div class="in">
                            <div>

                                {{tx.description}}
                                <footer>
                                    {{tx.show_date|date:"d M, Y T:H"}}
                                </footer>
                            </div>
                            <span class="">

                                {{user.wallet.currency.code}} {{tx.amount|to_decimal|intcomma}}

                            </span>
                        </div>
                    </div>
                </li>
                {% endfor %}




            </ul>


        </ul>

        {% endif %}
    </div>
    <!-- * Transactions -->


      <!-- Transactions -->
      <div class="section mt-4 pt-3">
        <div class="section-heading">
            <h2 class="title">Pending Transactions</h2>
            <a href="{% url 'transaction-history' %}" class="link">View All</a>
        </div>
        

        {% if not recent_pending_transactions %}
        <div class="status status-empty">
            <div class="status-icon">
                <em class="ti ti-files"></em>
                <div class="status-icon-sm">
                    <em class="ti ti-close"></em>
                </div>
            </div>
            <span class="status-text">You have no pending transactions</span>

        </div>
        {% else %}

        <ul class="listview image-listview">
            {% for tx in recent_pending_transactions %}
            <li>
                <div class="item">
                    {% if tx.transaction_type == "debit" %}
                    <div class="icon-box bg-danger" style="color:white">
                        <ion-icon name="arrow-up-outline"></ion-icon>
                    </div>
                    {% else %}
                    <div class="icon-box bg-warning" style="color:white">
                        <ion-icon name="arrow-up-outline"></ion-icon>
                    </div>
                    {% endif %}

                    <div class="in">
                        <div>

                            {{tx.description}}
                            <footer>
                            {{tx.show_date|date:"d M, Y T:H"}}
                            </footer>
                        </div>
                        <div >
                            <a href="{% url 'complete-transaction' tx.transaction_id %}" 
                            class="btn btn-xs btn-warning">
                                finalize
                            </a>
                        </div>
                        <span class="">

                            {{user.wallet.currency.code}} {{tx.amount|to_decimal|intcomma}}

                        </span>
                    </div>
                </div>
            </li>
            {% endfor %}
            </ul>

        {% endif %}
    </div>
    <!-- * Transactions -->


</div>

{% endblock %}