{% extends 'dashboard-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="user-content">
    <div class="user-panel">
        <h2 class="user-panel-title">Account Center</h2>
      
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="personal-data-tab" data-toggle="tab" href="#personal-data">Personal
                    Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="account-info-tab" data-toggle="tab" href="#account-info">Account Info</a>
            </li>
            <!--li class="nav-item">
                <a class="nav-link"  id="verify-email-tab" data-toggle="tab" href="#verify-email">Verify Email</a>
            </li-->
        </ul><!-- .nav-tabs-line -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="personal-data">
                <form action="#">
                    <div class="input-item input-with-label">
                        <label for="full-name" class="input-item-label">First Name</label>
                        <input readonly value="{{user.first_name}}" class="input-bordered" type="text" id="full-name" name="full-name">
                    </div><!-- .input-item -->
                    <div class="input-item input-with-label">
                        <label for="sur-name" class="input-item-label">Last Name</label>
                        <input readonly  value="{{user.last_name}}" class="input-bordered" type="text" id="sur-name" name="sur-name">
                    </div><!-- .input-item -->

                    
                    <div class="input-item input-with-label">
                        <label for="email-address" class="input-item-label">Email Address</label>
                        <input  readonly value="{{user.email}}"  class="input-bordered" type="text" id="email-address" name="email-address">
                    </div><!-- .input-item -->
                    <div class="input-item input-with-label">
                        <label for="mobile-number" class="input-item-label">Mobile Number</label>
                        <input readonly value="{{user.phone_number}}"  class="input-bordered" type="text" id="mobile-number" name="mobile-number">
                    </div><!-- .input-item -->
                    <div class="input-item input-with-label">
                        <label for="occupation" class="input-item-label">Occupation</label>
                        <input readonly value="{{user.occupation}}"  class="input-bordered" type="text" >
                    </div><!-- .input-item -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-item input-with-label">
                                <label for="date-of-birth" class="input-item-label">Date of Birth</label>
                                <input readonly value="{{user.date_of_birth}}"  class="input-bordered " type="text" id="date-of-birth" name="date-of-birth">
                            </div><!-- .input-item -->
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="input-item input-with-label">
                                <label for="nationality" class="input-item-label">Nationality</label>
                                <input readonly value="{{user.country}}"  class="input-bordered" type="text" >
                           
                            </div><!-- .input-item -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="gaps-1x"></div><!-- 10px gap -->
                 
                </form><!-- form -->
            </div><!-- .tab-pane -->
            <div class="tab-pane fade" id="account-info">
                <form action="#">
                    <div class="input-item input-with-label">
                        <label for="full-name" class="input-item-label">Account Type</label>
                        <input readonly value="{{user.account_type}}" class="input-bordered" type="text" id="full-name" name="full-name">
                    </div><!-- .input-item -->
                    <div class="input-item input-with-label">
                        <label for="sur-name" class="input-item-label">Account Number</label>
                        <input readonly  value="{{user.account_number}}" class="input-bordered" type="text" id="sur-name" name="sur-name">
                    </div><!-- .input-item -->

                </form>
               
            </div><!-- .tab-pane -->

            <div class="tab-pane fade" id="verify-email">

          
            </div><!-- .tab-pane -->

        </div><!-- .tab-content -->
    </div><!-- .user-panel -->
</div><!-- .user-content -->
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        var tab = "{{tab}}"
        $("#" + tab + "-tab").trigger("click")
    })

    $("#verify-email-click").click(function () {
        $("#verify-email-tab").trigger("click")
    })
</script>
{% endblock %}