{% extends 'dashboard-base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="user-content">
    <div class="user-panel">

        <h2 class="user-panel-title">Transactions</h2>
        <div class="table-responsive">
            {% if not user.has_transaction %}
            {% include "empty.html" with text=" You have no transactions to show, They will appear here." %}
            {% else %}

            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"  data-toggle="tab" href="#all">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="tab" href="#pending-trx">
                        Pending
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#failed">
                        Failed
                    </a>
                </li>
            </ul><!-- .nav-tabs-line -->

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all">
                    {% if all_transactions %}
                    <table class="data-table tranx-table">
                        <thead>
                           
                            <tr>
                                <!--th>TRX REF.</th-->
                                <th class="activity-time">
                                    <span>Date</span>
                                </th>
                                <th class="activity-time">
                                    <span>Amount</span>
                                </th>
                               
                                <th class="activity-time">
                                    <span>Action</span>
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>

                            {% for tx in all_transactions %}
                            <tr>
                             
                                <td class="tranx-no"><span>
                                    <c style="font-size: 11px;">{{tx.description}}</c>
                                </span>{{tx.date|date:"d M, Y  T:H"}}</td>
                                <td class="tranx-token"><span>
                                    {% if tx.transaction_type == "debit" %}
                                    -{{user.wallet.currency}}{{tx.amount|intcomma}}
                                    {% else %}
                                    +{{user.wallet.currency}}{{tx.amount|intcomma}}
                                    {% endif %}
                                </span></td>
                               
                                <td class="tranx-action">
                                    <a href="#" data-toggle="modal" data-target="#tranxApproved"><em class="ti ti-more-alt"></em></a>
                                </td>
                            </tr>
                         
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                    {% include "empty.html" with text="you have no successful transactions at the moment, they would appear here." %}
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="pending-trx">
                    {% if pending_transactions %}
                    <table class="data-table tranx-table">
                        <thead>
                           
                            <tr>
                                <!--th>TRX REF.</th-->
                                <th class="activity-time">
                                    <span>Date</span>
                                </th>
                                <th class="activity-time">
                                    <span>Amount</span>
                                </th>
                               
                                <th class="activity-time">
                                    <span>Action</span>
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>

                            {% for tx in pending_transactions %}
                            <tr>
                             
                                <td class="tranx-no"><span>
                                    <c style="font-size: 11px;">{{tx.description}}. - {{tx.status_message}}</c>
                                </span>{{tx.date|date:"j b, Y"}} {{tx.date.time}}</td>
                                <td class="tranx-token"><span>
                                    {% if tx.transaction_type == "debit" %}
                                    -{{user.wallet.currency}}{{tx.amount|intcomma}}
                                    {% else %}
                                    +{{user.wallet.currency}}{{tx.amount|intcomma}}
                                    {% endif %}
                                </span></td>
                               
                                <td >
                                    <a href="{% url 'complete-transaction' tx.transaction_id %}" 
                                    class="btn btn-xs btn-warning">
                                        complete
                                    </a>
                                </td>
                            </tr>
                         
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                    {% include "empty.html" with text="you have no pending transactions at the moment, they would appear here." %}
                    {% endif %}

                </div><!-- .tab-pane -->

                <div class="tab-pane fade" id="failed">
                    {% if failed_transactions %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>TRX REF.</th>
                                <th>Amount</th>
                                <th>TRX Type</th>
                                <th>Status</th>
                                <th>Desc.</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tx in failed_transactions %}
                            <tr>
                                <td>{{tx.transaction_id}}</td>
                                <td>{{user.wallet.currency}}{{tx.amount|intcomma}}</td>
                                <td>{{tx.transaction_type}}</td>
                                <td>{{tx.status}}</td>
                                <td>{{tx.description}}</td>
                                <td><span>{{tx.date}}</span></td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                    {% include "empty.html" with text="you have no failed transactions at the moment, they would appear here." %}
                    {% endif %}


                </div><!-- .tab-pane -->
            </div><!-- .tab-content -->

            {% endif %}
        </div>

    </div><!-- .user-panel -->
</div><!-- .user-content -->






{% endblock %}