{% extends 'dashboard-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="user-content">
    <div class="user-panel">
        <h3 class="user-panel-title">Send Money</h3>


        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="internal-tab" data-toggle="tab" href="#internal">
                    Same Bank
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="internal-tab" data-toggle="tab" href="#domestic">
                    Domestic Transfer
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="international-tab" data-toggle="tab" href="#international">
                    International Transfer
                </a>
            </li>
            <!--li class="nav-item">
                <a class="nav-link"  id="verify-email-tab" data-toggle="tab" href="#verify-email">Verify Email</a>
            </li-->
        </ul><!-- .nav-tabs-line -->
        <div class="tab-content" id="myTabContent">
            
            {% if error %}
            <h6>Error : </h6>
            <span style="color:rgb(255, 55, 0)">
                {{error}}
            </span>
            {% endif %}
       
            <div class="tab-pane fade show active" id="internal">
                <form action="" method="POST" id="internal-transfer-form" class="transfer-form">
                    {% csrf_token %}
                    <input readonly hidden name="transfer_type" value="Internal Transfer">
                    {{form.account_number|as_crispy_field}}
                    {{form.amount|as_crispy_field}}
                    {{form.description|as_crispy_field}}
                    <div class="gaps-1x"></div>
                    <center>
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <button type="submit" form="internal-transfer-form" class="btn btn-primary">Send</button>
                        </div>
                    </center>
                </form>


            </div><!-- .tab-pane -->
            
            <div class="tab-pane fade show " id="domestic">
                <form action="" method="POST" id="domestic-transfer-form" class="transfer-form">
                    {% csrf_token %}
                    <input readonly hidden name="transfer_type" value="Domestic Transfer">
                    {{form.account_number|as_crispy_field}}
                    {{form.local_bank|as_crispy_field}}
                    {{form.amount|as_crispy_field}}
                   
                    {{form.description|as_crispy_field}}
                    <div class="gaps-1x"></div><!-- 10px gap -->
                    <center>
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <button type="submit" form="domestic-transfer-form" class="btn btn-primary">Send</button>
                        </div>
                    </center>
                </form>


            </div><!-- .tab-pane -->
            <div class="tab-pane fade" id="international">
                <form action="" method="POST" id="international-transfer-form" class="transfer-form">
                    {% csrf_token %}
                    <input readonly hidden name="transfer_type" value="International Transfer">
                   
                    {{form.bank_name|as_crispy_field}}
                
                    {{form.account_number|as_crispy_field}}
                    {{form.amount|as_crispy_field}}
                    {{form.description|as_crispy_field}}
                    <div class="gaps-1x"></div><!-- 10px gap -->
                    <center>
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <button type="submit" form="international-transfer-form" class="btn btn-primary">Send</button>
                        </div>
                    </center>
                </form>

            </div><!-- .tab-pane -->



        </div><!-- .tab-content -->
    </div><!-- .user-panel -->
</div><!-- .user-content -->
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        var tab = "{{tab}}"
        $("#" + tab + "-tab").trigger("click")
        $("input").css("border","2px #6789bc solid")
       
    })

    $("#verify-email-click").click(function () {
        $("#verify-email-tab").trigger("click")
    })

    $(document).on('submit','.transfer-form',function(event){
    event.preventDefault();
    $("#load-modal").modal({backdrop: 'static', keyboard: false},"show");
   
   
    var form  = $(this);
    
    $.ajax({
        type:"POST",
        url : form.attr('action'),
        data : form.serialize(),
        dataType : 'json',
        success : function(data){
            //cancel modal
            
         
         if(data.success){
            $("#load-modal").modal("toggle")
            //navigate to pin
            window.location.href = data.success_url
         }

         else if(data.error){
            $("#load-modal").modal("toggle")
            $("#error-modal-content").html("")
            $("#error-modal-content").html(data.error)
            $("#error-modal").modal("show")
         }
        }
    });
    return false;
});

</script>
{% endblock %}