{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}


        <!--Start Apply Form Area-->
        <section class="apply-form-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="apply-form-box clearfix">
                            <div class="apply-form-box-bg"
                                style="background-image: url('{% static 'img/carousel-6.png' %}');"></div>
                            <div class="apply-form-box__content">
                                <div class="sec-title">
                                    <h2>Register To<br> Create An Account</h2>
                                    <div class="sub-title">
                                        <p>Enter your personal account information</p>
                                    </div>
                                </div>

                                <form id="apply-form" name="apply_form" class="default-form2" action="{% url 'login' %}"
                                    method="post">

                                    <div class="row">
                                        {% csrf_token %}
                                        {{form|crispy}}
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="button-box">
                                                <button class="btn-one" type="submit" style="width: 100%;">
                                                    <span class="txt">
                                                        Login
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <center>
                                                Already have an account ? <a href="{% url 'register' %}" style="font-size: 20px;font-weight: 700;">&nbsp; Login</a>
                                            </center>
                                           
                                        </div>
                                       
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Apply Form Area-->


    {% endblock %}