{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}



<!-- Contact Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container mt-5">
        <div class="row g-5 mt-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">

                <h1 class="display-5 mb-4">Welcome To Modern Banking, Join Us!</h1>
                <p class="mb-4">Already have an account ? <a href="{% url 'login' %}">Login</a></p>

            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
                <div class="position-relative rounded overflow-hidden h-100">
                    <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.first_name|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.last_name|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.username|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.occupation|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.email|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.phone_number|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.account_type|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.currency|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.country|as_crispy_field}}

                                </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{form.date_of_birth|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    {{form.password1|as_crispy_field}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    {{form.password2|as_crispy_field}}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-floating">
                                    {{form.passport|as_crispy_field}}
                                </div>
                            </div>
                            <div class="col-md-12" style="">
                                <div class="form-floating" >
                                    
                                    {{form.address|as_crispy_field}}

                                </div>
                            </div>
                           
                            <div class="col-12 mt-4" style="text-align: end;">
                                <button class="btn btn-primary py-3 px-5" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    {% endblock %}